body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(198, 239, 255);
}

.button {
  background-color: #2692bd;
  color: white;
  padding: 10px;
  text-decoration: none;
}
